@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: bold;
  src: url("/fonts/SpaceGrotesk-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Space Mono";
  src: url("/fonts/SpaceMono-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  font-weight: bold;
  src: url("/fonts/SpaceMono-Bold.otf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk";
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 27px;
}

body,
a, a:visited {
  color: #222429;
}

.content__default {
  margin: 0 auto;
  max-width: $contentWidth;
}

h1 {
  font-family: "Space Grotesk";
  font-weight: bold;
  font-size: 80px;
  color: #222429;
  letter-spacing: 0.67px;
  line-height: 88px;
}

.fill-story {
  fill: $storyColor;
}

.fill-imagination {
  fill: $imaginationColor;
}

.fill-map {
  fill: $mapColor;
}

.fill-data {
  fill: $dataColor;
}







h2 {
  font-family: SpaceGrotesk-Bold;
  font-size: 32px;
  color: #222429;
  letter-spacing: 0.27px;
  line-height: 36px;
}

h3  {
font-family: SpaceGrotesk-Bold;
font-size: 26px;
color: #222429;
letter-spacing: 0.49px;
line-height: 30px;
}

bijschrift {
font-family: SpaceMono-Regular;
font-size: 16px;
color: rgba(34,36,41,0.60);
letter-spacing: 0.45px;
line-height: 22px;
}

bijschrift titel {
font-family: SpaceMono-Bold;
font-size: 16px;
color: #222429;
letter-spacing: 0.45px;
line-height: 22px;
}