// colors
$storyColor = $color1
$mapColor = $color2
$imaginationColor = $color3
$dataColor = $color4

$logoColor = $color5

$color1 = #4858ed
$color2 = #f538a8
$color3 = #89f0a4
$color4 = #fa756c

$color5 = #42BDC6

// layout
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
