// Colors
$pink: #f749a8;
$blue: #4861ed;
$aqua: #42bdc6;
$green: #70d08c;
$red: #fc796b;
$yellow: #f0f462;
$black: #222429;
$white: #ffffff;

// Body
body {
  color: $black;
  background-color: $white;
}

// Links
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  text-decoration: line-through;
}

a.nuxt-link-active,
a.nuxt-link-active:link,
a.nuxt-link-active:visited {
  text-decoration: underline;
}

// Svg fills
svg {
  path.pink {
    fill: $pink;
  }
  path.blue {
    fill: $blue;
  }
  path.aqua {
    fill: $aqua;
  }
  path.green {
    fill: $green;
  }
  path.red {
    fill: $red;
  }
  path.yellow {
    fill: $yellow;
  }
  path.black {
    fill: $black;
  }
  path.white {
    fill: $white;
  }
}
