// Colors
$pink: #f749a8;
$blue: #4861ed;
$aqua: #42bdc6;
$green: #70d08c;
$red: #fc796b;
$yellow: #f0f462;
$black: #222429;
$white: #ffffff;

// UI
$light-gray: rgba(#f2f2f7, 0.6);
$border-color: #e6e8ee;
$label-color: #c4c4c4;

// Body
body {
  color: $black;
  background-color: $white;
}

// Links
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  text-decoration: line-through;
}

a.nuxt-link-active,
a.nuxt-link-active:link,
a.nuxt-link-active:visited {
  text-decoration: underline;
}

// Svg fills
svg {
  path.pink {
    fill: $pink;
  }
  path.blue {
    fill: $blue;
  }
  path.aqua {
    fill: $aqua;
  }
  path.green {
    fill: $green;
  }
  path.red {
    fill: $red;
  }
  path.yellow {
    fill: $yellow;
  }
  path.black {
    fill: $black;
  }
  path.white {
    fill: $white;
  }
}

// Headers
h1 {
  margin: 1.25rem 0;
}
label + h1 {
  margin-top: 0.5rem;
}

// Column
.column {
  padding: 1rem 2rem;
}
