body {
  color: black;
  background-color: pink;
}

a,
a:link,
a:visited {
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

a.nuxt-link-active,
a.nuxt-link-active:link,
a.nuxt-link-active:visited {
  text-decoration: underline;
}

